.instructions, .game-win {
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, .6);
}
.instructions p {
  font-size: 28px;
  text-align: justify;
  line-height: 35px;
}

.game-win {
  text-align: center;
  padding: 15px;
}

.game-screen {
  padding-bottom: 30px;
}

.cards-display {
  display: flex;
  flex-wrap: wrap;
}
.card-single-wrapper {
  width: calc(100% / 6);
  text-align: center;
  padding: 5px;
}
.card-single {
  cursor: pointer;
  transition: .2s;
  background-color: rgb(25, 0, 0);
  padding: 5px;
  border-radius: 10px;
  position: relative;
}
.card-single:hover {
  scale: 1.05;
}

.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-single img {
  width: 100%;
  height: auto;
}
.name p {
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 950px) {
  .name p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .instructions p {
    font-size: 22px;
    line-height: 28px;
  }
  .card-single-wrapper {
    width: calc(100% / 4);
  }
}
