* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.coat {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.shirt {
  min-height: 100vh;
  backdrop-filter: blur(8px);
  padding-bottom: 20px;
}
.float-r{
  float: right;
}
.float-l{
  float: left;
}
.clear {
  clear: both;
}

.eee {
  color: #eee;
}
.yellow {
  color: rgb(207, 207, 15)
}
.red {
  color: rgb(184, 0, 0);
}
.border-text {
  -webkit-text-stroke: 1px #000;
}